
/* css reset */
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 4px 16px;
}
.navbar li a:hover{
    text-decoration: underline;
    color: grey;
}

body
{
    font-family: 'Lobster', cursive;
    color:white;
  margin:0px;
  padding:0px;
  background: url('img/b3.jpg')
  
}

.leftlogo{
    position: absolute;
    left: 17px;
    top: 9px;
    display: inline-block;
    /* border: 3px solid orange; */
    
}
.leftlogo img{
    width: 152px;
    height: 124px;
    
}
.center{
    /* border: 3px solid blue; */
    display: block;
    width: 33%;
    margin: 13px 474px;

}
.right{
    position: absolute;
    right: 45px;
    top: 13px;
    display: inline-block;
    /* border: 3px solid green; */

}
.btn{
    font-family: 'Lobster', cursive;
    margin: 11px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    /* border: 2px solid #695441; */
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(48, 43, 43);
    text-decoration: underline;
    color:#695441
}
.container{
    /* border: 2px solid #efece3; */
    margin: 79px 66px;
    padding: 24px 51px;
    width: 33%;
    border-radius: 7px;
    
}
.group input{
    text-align: center;
    display: block;
    width: 306px;
    padding: 3px;
    border: 2px solid #42260a;
    margin: 2px auto;
    border-radius: 13px;
    font-size: 15px;
    font-family: 'Lobster', cursive;
    
}
.container h1{
    text-align: center;
}

